@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #161616;
}


.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 75rem;
}

.breadcrumbs,
.list__link {
    display: block;
    font-size: 1.6rem;
    color: #161616;
}

.breadcrumbs {
    margin: 3rem 0 5rem;
}

.form__label {
    display: block;
    font-size: 1.8rem;
}

.form__select {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    padding: 0.5rem;
    font-size: 2.4rem;
}

.form__option {
    display: block;
}

.button {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 2rem;
    padding: 0.5rem 5rem;
    border-radius: 5rem;
    border: 3px solid #161616;
    cursor: pointer;
    background-color: white;
}

.article {
    display: block;
    margin-top: 5rem;
}

.article__link {
    font-size: 2.8rem;
    color: #161616;
}

.article__title {
    display: block;
    font-size: 4rem;
}

.article__category {
    display: block;
    font-size: 1.6rem;
}

.article__short {
    display: block;
    margin-top: 4rem;
    font-size: 1.8rem;
    max-width: 60%;
}

.article__description {
    margin-top: 6rem;
    font-size: 2.4rem;
    display: block;
}

.list {
    margin-top: 3rem;
}

.list__item {
    font-size: 1.6rem;
    align-items: center;
    display: flex;
}

.list__link--big {
    margin: 1rem 2rem;
    font-size: 2.4rem;
}

.btn {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    background-color: white;
}

.form__input, .form__textarea, .form__description {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 2.4rem;
    width: 100%;
}

.error {
    font-size: 1.6rem;
    color: red;
}
